<h1>Sign up</h1>

<%= form_with(model: @guild, local: true) do |f| %>
  <%= f.label :gname %>
  <%= f.text_field :gname %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create MyGuild account" %>
<% end %>
