<h1>Sign up</h1>

<% if @my_guild.errors.any? %>
  <div id="error_explanation">
    <h2><%= @my_guild.errors.count %>件のエラー</h2>
    <ul>
    <% @my_guild.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @my_guilds, local: true) do |f| %>
  <%= f.label :g_name %>
  <%= f.text_field :g_name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create my_guild account" %>
<% end %>
